HostKey /user/etc/ssh/ssh_host_rsa_key
HostKey /user/etc/ssh/ssh_host_ecdsa_key
HostKey /user/etc/ssh/ssh_host_ed25519_key
PidFile /user/sshd.pid
Port 2222
ListenAddress 0.0.0.0
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PermitEmptyPasswords no
AuthenticationMethods any
UsePAM yes
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
PrintMotd no
TCPKeepAlive yes
ClientAliveInterval 10
ClientAliveCountMax 6
UseDNS no
Banner none
